ul
  if(hasClasses)
    each val in classes
      li
        div
          a(href="/class/#{val}")
            div.classtag #{val}
            div.classname CSE #{val}
  else
    div#noclasses You don't seem to have any classes added.
div#new-class.new-button  + New Class
div#classes
  form(action='/addClass', method='post')
    select(name='class')
      each val in otherClasses
        option(value='#{val.className}') CSE #{val.className}
    br
    input(type='submit', value='Add Class')
    br
    button#hide-class Cancel
