ul
  if(hasThreads)
    each val in threads
      li
        a(href='/class/#{className}/#{val._id}')
          div
            div.classtag ?
            div.classname
              div.posttitle #{val.title}
              div.postpreview #{val.content}
            div.posttime #{time[val._id]}
  else
    div#nothreads There doesn't seem to be any threads here.
div#new-thread.new-button  + New Thread
div#threads
  form(action='/addThread', method='post')
    input(type='text', name='thread[title]', id='thread-title', placeholder='Thread Title' required)
    br
    textarea(name='thread[content]', id='thread-content', placeholder='Enter your content here...' required)
    br
    input(type='hidden', name='thread[className]', value='#{className}')
    input(type='submit', value='Add Thread', class='addButton')
    br
    button#hide-thread Cancel
