ul
  li#thread.comment
    div.classname
      div.posttime #{threadTime}
      div.posttitle 
        h3 #{thread.title}
      div.author #{author}
      div.postcontent 
        p #{thread.content}
  if(hasPosts)
    each post in posts
      li.comment
        div.classname
          div #{users[post.userId]}
          div.posttime #{time[post._id]}
          div.postcontent 
            p #{post.content}
  else
    div#noposts There doesn't seem to be any posts here.
div#new-post.new-button  + Add Comment
div#posts
  form(action='/addPost', method='post')
    textarea(name='post[content]', id='thread-content' required)
    br
    input(type='hidden', name='post[className]', value='#{className}')
    input(type='hidden', name='post[threadId]', value='#{thread._id}')
    input(type='submit', value='Add Post')
    br
    button#hide-post Cancel
