ul
  li.comment
    div.classname
      div.posttime #{thread.time}
      div.posttitle 
        h3 #{thread.title}
      div.postcontent 
        p #{thread.content}
  for post in posts
    li.comment
      div.classname
        div.pic.young
        div #{fullname}
        div.posttime #{post.time}
        div.postcontent 
          p #{post.content}
div#new-post.new-button  + New Post
