ul
  li.comment
    div.classname
      div.posttime #{thread.time}
      div.posttitle 
        h3 #{thread.title}
      div.postcontent 
        p #{thread.content}
  if(hasPosts)
    for post in posts
      li.comment
        div.classname
          div.pic.young
          div #{fullname}
          div.posttime #{post.time}
          div.postcontent 
            p #{post.content}
  else
    div#noposts There doesn't seem to be any posts here.
div#new-post.new-button  + New Post
div#posts
  form(action='/addPost', method='post')
    textarea(name='post[content]', id='thread-content')
    br
    input(type='hidden', name='post[className]', value='#{className}')
    input(type='hidden', name='post[threadId]', value='#{thread._id}')
    input(type='submit', value='Add Post')
    br
    button#hide-post Cancel
