ul
  each val in threads
    li
      div
        a(href='/class/#{fullname}/#{className}/#{val.id}')
          div.classtag ?
          div.classname
            div.posttitle #{val.title}
            div.postpreview #{val.content}
            div.posttime #{val.time}
div#new-thread.new-button  + New Thread
