ul
  each val in threads
    li
      div
        a(href='/class/#{className}/#{val.id}')
          div.classtag ?
          div.classname
            div.posttitle #{val.title}
            div.postpreview #{val.content}
            div.posttime #{val.time}
div#new-thread.new-button  + New Thread
div#threads
  form(action='/addThread', method='post')
    label(for='thread-title') Title:&nbsp;
    input(type='text', name='thread[title]', id='thread-title')
    br
    textarea(name='thread[content]', id='thread-content')
    br
    input(type='submit', value='Add Thread')
    br
    button#hide-thread Cancel
