doctype html
html(lang="en-US")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1)
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600', type='text/css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    if view == 'class'
      link(rel='stylesheet', href='/stylesheets/class.css', type='text/css')
    if view == 'class-thread'
      link(rel='stylesheet', href='/stylesheets/class-thread.css', type='text/css')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/index.js') 
    script(src='/javascripts/woopra.js')

  body
    if view != 'login' && view != 'register'
      include nav-bar
    block content
  div#settings-panel
    div Hello, #{fullname}
    div#notif Notifications
    div#pref Preferences
    div#change 
      a(href='/main/change') Version: #{versionText}
    div#logout 
      a(href='/logout') Logout
  div#search-panel
    div.inner
      span
        input(type="text" value="UNFULFILLED STRETCH GOAL - THIS DOES NOTHING")
      i.fa.fa-search
  div#pref-panel
    form(action='/updatePreferences', method='post')
      label(for='firstname') First Name 
      input(type='text', name='user[firstname]', id='firstname' value='#{firstname}')
      br
      label(for='lastname') Last Name
      input(type='text', name='user[lastname]', id='lastname' value='#{lastname}')
      br
      label(for='email') Email
      input(type='text', name='user[email]', id='email' value='#{email}')
      br
      label(for='pw') Password
      input(type='password', name='user[password]', id='pw')
      br
      input(type='hidden', name='page[url]', value='#{url}')
      input(type='submit', value='Update Preferences')
      br
      button#pref-hide Cancel
